/**
 * Styles for calculator component
 */

.calculator {
	display: grid;
	grid-template-columns: repeat(4, 75px);
	grid-template-rows: 65px 30px repeat(5, 65px);
	grid-gap: 2px;
	overflow: hidden;
	
	border: 2px solid var(--dark-gray);
	background-color: var(--dark-gray);
	border-top-left-radius: 15px;
	box-shadow: 6px 6px 15px 1px rgba(#18597D, .5);
	
	&__result {
		grid-column: 1 / span 4;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		overflow: hidden;
		text-overflow: ellipsis;
    	white-space: nowrap;

		background-color: var(--dark-gray);
		padding-right: 30px;
		border: none;

		font-family: 'Roboto', sans-serif;
		font-size: 32px;
		font-weight: 500;
		text-align: right;
		color: white;
		outline: none;
	}
	
	&__history {
		grid-column: 1 / span 4;
		position: relative;
		
		font-weight: 700;
		background-color: var(--medium-gray);
		padding:0 15px 0 60px;
		
		&__list {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			overflow: hidden;
			height: 100%;

			font-size: 14px;
			font-family: 'Roboto', sans-serif;
			color: white;
			
			&::before {
				content: 'HISTORY';
				position: absolute;
				left: 10px;
				bottom: 9px;
				font-size: 10px;
				font-weight: 500;
				color: var(--yellow);
			}
			
			&.is-hide::before {
				display: none;
			}

			li {
				padding-left: 5px;
			}
		}
	}
	
	&__btn {
		font-family: 'Roboto', sans-serif;
		font-size: 32px;
		font-weight: 700;
		text-shadow: 1px 1px 0px rgba(51, 51, 51, 1);

		border: none;
		background-color: var(--purple);
		color: white;
		cursor: pointer;
		transition: .1s all ease;
		outline: none;
		position: relative;
		padding: 0;
		
		&:hover {
			background-color: var(--navy);
		}
		
		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			border: 1px solid white;
			opacity: 0;
		}
		
		&:focus {
			&:before {
				animation: border-animation 0.2s ease-out;
			}
		}
		
		// Variants
		
		&--operator {
			background: var(--gray);
			
			&:hover {
				background-color: var(--light-gray)
			}
		}
		
		&--cero {
			grid-column: 1 / span 2;
		}
		
		&--empty {
			pointer-events: none;
		}
		
		&--reset {
			background: var(--blue);
			grid-column: 1 / span 2;
			
			&:hover {
				background-color: var(--light-blue);
			}
		}
		
		&--equal {
			background: var(--orange);
			grid-column: 3 / span 2;
			
			&:hover {
				background-color: var(--light-orange);
			}
		}
	}
}


@keyframes border-animation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}